body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 250px 1fr;
}

h4 {
  grid-column-end: 3;
  grid-column-start: 1;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 90px 1fr;
}

.top-bar {
  display: grid;
  grid-template-columns: 90px 90px 1fr 90px 90px 90px;
}

.profile-stats {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.top-bar, .job-description, .page-labels, .profile-stats, .content-divider {
  grid-column-end: 3;
  grid-column-start: 1;
}

.job-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header-text {
  float: left;
}

.header-buttons {
  align-items: center;
  display: flex;
  float: right;
}

.page-labels{
  display: flex;
}

.flex-btn {
  display: flex;
  align-content: center;
}

.pie-charts, .bar-graph, .share {
  display: flex;
  flex-direction: column;
}

.content-divider {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.share-link, .pie-flex {
  display:flex;
  flex-direction: row;
}

