body {
  background-color: #ECF1F5;
  font-family: 'Open Sans', sans-serif;
}

main {
  background-color: #EBF1F5;
}

.top-bar {
  background-color: #FFF;
  border-bottom: 1px solid #8D949C;
}

.search2 {
  display:none;
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  height: 90px;
  margin: 0;
  width: 90px;
}

.menu-button:hover, .open-btn:hover, .header-btn:hover{
  background-color: #4AA3F3;
  color: #FFF;
}

.menu-button:hover i, .open-btn:hover i{
  color: #FFF;
}

.border-right {
  border-right: 1px solid #8D949C;
}

.fa-caret-left {
  color: #4AA3F2;
  margin-right: 2px;
}

.fa-search, .fa-user-plus, .fa-calendar-alt, .fa-th {
  background: none;
  color: #8D949C;
  font-size: 1.5em;
}

input {
  border-bottom: 1px solid #8D949C;
  border: none;
  font-size: 1.5em;
}

.fa-search {
  margin: 33px 5px 33px 33px;
}

.job-description {
  background-color: #FFF;
  color: #9FA4AF;
  padding: 5% 5% 3% 5%;
}

.header-buttons {
  height: 100px;
}

.open-btn {
  border-color: #8D949C;
  border-radius: 50px;
  color: #8D949C;
  height: 32px;
  margin: 5px;
  width: 100px;
}

.fa-circle {
  color: #94BF51;
  margin-right: 4px;
}

.header-btn {
  border-color: #8D949C;
  border-radius: 50px;
  color: #8D949C;
  height: 32px;
  margin: 5px;
  width: 32px;
}


h1 {
  color: #898A8F;
}

.page-labels {
  background-color: #FFF;
  padding-left: 5%;
}

.page-labels button {
  background-color: #FFF;
  border-bottom: 3px solid transparent;
  border: none;
  color: #9FA4AF;
  margin-right: 3%;
  padding-bottom: 15px;
}

.page-labels button:hover {
  border-color: #49A7E9;
  color: #000;
}

.profile-stats {
  padding: 5% 5% 0 5%;
}

.pie-charts {
  padding-top: 2%;
}

.pie-charts button, .bar-graph button {
  background-color: #FFF;
  border-radius: 50px;
  color: #898A8F;
  margin: auto;
  width: 250px;
}
.chart-container {
  display: inline-block;
  margin: auto;
  position:relative;
}

.chart {
  border-radius: 50%;
  border: 15px solid #DDE4E8;
  color: #BAC0C6;
  height: 120px;
  text-align: center;
  width: 120px;
}

.chart .number {
  color: #6D757E;
  font-size: 2em;
  line-height: 2;
}

.chart1::before {
  border-radius: 50%;
  border-top:  15px solid transparent;
  border: 15px solid #61B8B8;
  content: '';
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}

.chart2::before {
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-radius: 50%;
  border-top:  15px solid transparent;
  border: 15px solid #47A1F2;
  content: '';
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}

.chart3::before {
  border-radius: 50%;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border: 15px solid #A66AA3;
  content: '';
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}

.bar-chart {
  width: 100%;
}

.bar-graph button {
  width: 150px;
}

.content-divider {
  padding: 2% 5% 4% 5%;
}

.content-divider button {
  border-radius: 50px;
  height: 30px;
  margin: 1%;
  width: 30px;
}

hr {
  width: 49%;
}

.job-profile {
  padding: 5% 5% 0 5%;
}

.job-description-input {
  background-color: #000;
  color: #FFF;
}

.share {
  padding: 15% 17% 0 0;
}

.job-profile .section-top {
  background-color: #727E93;
  border: none;
  color: #FFF;
  height: 100%;
  margin: 0;
  width: 100%;
}

.job-profile h5, .job-profile p {
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid #8D949C;
  border-top: 1px solid #8D949C;
  border: none;
  color: #AFB3B7;
  display: flex;
  height: 99%;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
}

.job-profile h5 {
  padding-left: 10%;
  justify-content: left;
}

.flex-btn {
  align-items: center;
}

.edit-btn {
  padding: 2%;
  color: #FFF;
  background-color: #7D899F;
  border: none;
}

.edit-btn i {
  margin-right: 8px;
}

.baby-pic {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.share-btn {
  border: none;
  color: #FFF;
  font-size: 16px;
  height: 40px;
  margin-bottom: 8%;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin {
  float: left;
  padding-left: 3%;
}

.share-facebook {
  background-color: #5373BD;
}

.share-twitter {
  background-color: #49A7E9;
}

.share-linkedin {
  background-color: #3780B7;
}

h2 {
  font-size: 1em;
}

.link-description {
  font-size: 14px;
}

.link-text {
  background-color: #FFF;
  border: none;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding-left: 3%;
  width: 70%;
}

.copy-link {
  background-color: #68B7C1;
  border: none;
  color: #FFF;
  height: 40px;
  line-height: 40px;
  width: 30%;
}

.email-text {
  width:100%;
}

.fa-sort-down {
  display:none;
}

.pie-charts button {
  margin-top: 25px;
}

@media screen and (max-width: 1150px) {
    grid-column-end: 3;
    grid-column-start: 1;
    margin-bottom: 5%;
    margin: auto;
    padding: 0;
    width: 70%;
  .job-profile, .share {
  }

  .profile-stats {
    grid-template-columns: 1fr;
  }

  .bar-chart {
    margin: auto;
    width: 70%;
  }

  .header-text {
    width: 39%;
  }

  .pie-charts {
    margin: auto;
    width: 75%;
  }

  .job-profile h5, .job-profile p {
    height: 100px;
  }

  .job-profile .main-text, .job-profile .main-text-head {
    height: 200px
  }

  .job-profile .section-top {
    height: 100px;
  }
}

@media screen and (max-width: 975px) {
    display: none;
  nav {
  }

  body {
    grid-template-columns: 1fr;
  }

  .header-text {
    width: 45%;
  }
}
  @media screen and (max-width: 750px) {
      grid-template-columns: 80px 80px 1fr 80px 80px 80px;
    .top-bar {
    }

    .page-labels button {
      margin-right: 0;
    }

    .applicants, .job-board, .interviews, .activity, .broadcast, .notifications {
      display: none;
    }

    .fa-sort-down {
      display: inline-block;
    }

    .header-buttons {
      display: block;
      clear: left;
      float: left;
    }
  }

  @media screen and (max-width: 650px) {
      display: none;
    .user-plus, .calendar-alt {
    }

    .top-bar {
      grid-template-columns: 80px 80px 1fr 80px;
    }

    .pie-flex {
      margin: auto;
      width: 360px;
    }

    .chart, .chart1::before, .chart2::before, .chart3::before {
      height: 100px;
      width: 100px;
    }

    .job-profile {
      grid-template-columns: 1fr 2fr;
    }

    .job-profile .main-text {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .job-profile .main-text-head {
      grid-column-start: 1;
      grid-column-end: 3;
      padding-left: 5%;
      height: 100px;
      box-sizing: border-box;
    }
  }


  @media screen and (max-width: 520px) {
    .pie-flex {
      display: block;
      width: 150px;
    }

    .chart {
      height: 150px;
      width: 150px;
    }

    .chart1::before, .chart2::before, .chart3::before {
      height: 150px;
      width: 150px;
    .pie-flex {
    }

    input {
      display: none;
    }

    .search2 {
      display: inline-block;
      width: 98%;
    }
      
    .menu-button {
      background-color: #FFF;
      border-bottom: 1px solid #8D949C;
    }

    .job-profile .main-text {
      height: 250px;
    }
  }
