body {
  font-family: 'Open Sans', sans-serif;
}
.top-bar {
  background-color: #FFF;
  border-bottom: 1px solid #8D949C;
}

.menu-button {
  background: none;
  border: none;
  margin: 0;
  height: 90px;
  width: 90px;
  font-size: 24px;
}

.menu-button:hover {
  background-color: #4AA3F3;
}

.menu-button:hover i {
  color: #FFF;
}

.border-right {
  border-right: 1px solid #8D949C;
}

.fa-caret-left {
  color: #4AA3F2;
  margin-right: 2px;
}

.fa-search, .fa-user-plus, .fa-calendar-alt, .fa-th {
  background: none;
  font-size: 1.5em;
  color: #8D949C;
}

input {
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid #8D949C;
}

.fa-search {
  margin: 33px 5px 33px 33px;
}

.job-description {
  margin: 5% 5% 3% 5%;
  color: #9FA4AF;
}

.header-text {
  float: left;
}

.header-buttons {
  float: right;
  height: 100px;
  display: flex;
  align-items: center;
}

.open-btn {
  width: 100px;
  height: 32px;
  margin: 5px;
  border-radius: 50px;
  border-color: #8D949C;
  color: #8D949C;
}

.fa-circle {
  color: #94BF51;
  margin-right: 4px;
}

.header-btn {
  height: 32px;
  width: 32px;
  margin: 5px;
  border-radius: 50px;
  border-color: #8D949C;
  color: #8D949C;
}


h1 {
  color: #898A8F;
}

.page-labels {
  background-color: yellow;
}

.profile-stats {
  background-color: orange;
}

.content-divider {
  background-color: blue;
}

.job-profile {
  background-color: magenta;
}

.share {
  background-color: purple;
}
