nav {
  background-color: #374050;
  color: #A9B2C2;
  display: flex;
  flex-direction: column;
}

nav section {
  display: flex;
  flex-direction: column;
  margin: 4%;
  border-bottom: 3px solid #323949;
  padding-bottom: 25px;
}

.profile-pic{
  border-radius: 50%;
  margin-top: 25px;
  margin: auto;
  width: 65%;
}

.nav-btn i {
  margin-bottom: 5px;
  margin-top: 5px;
  margin: 0;
  width: 25px;
}

.nav-btn:hover{
  background-color: #323949;
}

h3 {
  font-size: 15px;
  text-align:center;
}

h4 {
  color: #505B6C;
}

.btn-container {
  display:flex;
  flex-direction: column;
  float:left;
}

.btn-container i{
  margin-right:6px;
}

.fa-check-square {
  color:#E7D449;
}

.design-box {
  color:#58B3F4;
}

.executive-box {
  color:#DB3763;
}

.hr-box {
  color:#4BA68B;
}

.nav-btn {
  background-color: #374050;
  border: none;
  color: #A9B2C2;
  text-align: left;
}

.nav-btn .fa-calendar-alt {
  color: #A9B2C2;
  font-size: 1em;
}
