body {
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr 6fr;
}
nav {
  display:flex;
  flex-direction: column;
  background-color: #374050;
  color: #A9B2C2;
}
nav section {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
.profile-pic{
  margin: auto;
  border-radius: 50%;
  width: 65%;
}
h3 {
  text-align:center;
  font-size: 15px;
}
h4 {
  color: #505B6C;
}
.nav-btn {
  text-align: left;
  border: none;
  color: #A9B2C2;
  background-color: #374050;
}
